@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --bg-color: #ffffff;          /* Fondo blanco */
  --text-color: #1a1a1a;        /* Texto casi negro para mejor legibilidad */
  --text-muted: #555555;        /* Texto secundario */
  --border-color: #e0e0e0;      /* Líneas suaves */
  --accent-color: #0077cc;      /* Azul sutil para enlaces o énfasis (opcional) */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    background-color: black;
    position: absolute;
}

    h1 {
    font-size: 2rem;
    color: greenyellow;
    
}

    #tablero {
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

    #ball {
    width: 20px;
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}